.Block {
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  align-items: center;
  display: flex;
  margin: 0 auto;
  width: 50%;
}

.BlockLine {
  background-color: blue;
  width: 4px;
  height: 50px;
  display: inline-block;
  margin: 0 5px;
}

.BlockText {
  display: inline-block;
}

.BlockNumber {
  display: inline-block;
}
