.container {
  overflow: auto;
}

.BlockChainDisplay {
  position: absolute;
  bottom: 0;
  /*width: 100%;*/
  overflow: scroll;
}

.greyBlock {
  padding-left: 5px;
  padding-top: 3px;
  align-items: center;
  display: flex;
  margin: 0 auto;
  /*width: 50%;*/
}

.greyBlockLine {
  background-color: gray;
  width: 4px;
  height: 25px;
  display: inline-block;
  margin: 0 14px;
}

.greyBlockNumber {
  display: inline-block;
  opacity: 0;
}
