.Node {
  height:100%;
  float:left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.Line {
  width: 10%;
  border: 1px solid blue;
  float:left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.Container {
  padding-left: 5%;
  padding-top: 10%;
  padding-bottom: 3%;
}

.popUp {
  z-index: 100;
  position: absolute;
  top: -200%;
  height: 100%;
  border: 1px solid blue;
}
