.LCcontainer {
  background-color: #f5f6fa;
  width: 100%;
  height: 100%;
}

.LCcontainer > br {
  clear: left;
}

.letterDetails {
  padding: 2% 0 0 2%;
}

.letterDetails > h2 {
  margin: 0;
}

.cardsContainer {
  width: 60%;
}

.letterContent > div {
  display: block;
  float: left;
  width: 20%;
  margin: 2%;
}

.letterContent > div {
  text-align: left;
}

.rules {
  display: block;
  text-align: left;
  width: 76.5%;
  margin: 2%;
}

.rules > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.actions {
  padding-left: 2%;
}

.actions > button {
  border-radius: 30px;
  border: 1px solid #5f7bfd;
  background-color: transparent;
  color: #5f7bfd;
  padding: 0.8%;
  margin: 0 1% 1% 0;
}

.actions > button:hover {
  background-color: #5f7bfd;
  color: #fff;
}

.backButton {
  margin-top: 1%;
  margin-left: 2%;
  height: 20px;
}
