.cardContainer {
  background-color: white;
  box-shadow: 0 0 5px #ddd;
  border-radius: 1px;
  padding: 20px;
  text-align: left;
  position: relative;
}

.cardContainer a {
  display: block;
}

.cardContainer:hover a {
  display: block;
}

.cardContainer img {
  position: absolute;
  top: 5%;
  right: 1%;
  display: inline-block;
  height: 10%;
}

.cardContainer > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.cardContainer > h4 {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
}

.subheadingSpan {
  float: left;
  clear: left;
}

.topHeading {
  float: left;
  clear: left;
  color: #ccc;
}
