.Alert {
  width: 35%;
  height: 15%;
  line-height: 2;
  margin-left: 80vh;
  margin-bottom: 1vh;
  padding-left: 15px;
  border: 1px solid white;
  border-radius: 15px;
}

.Alert > p {
  color: white;
  font-weight: lighter;
}