.background {
    display: flex;
    align-items: center;
    width:100%;
    height:100%;
    position: fixed;
    background-color: rgba(255,255,255,0.5);
    z-index: 50;
}

.container {
    flex-direction: column;
    display: flex;
    margin: auto;
    height: 30%;
    width: 35%;
    align-items: left;
    background-color: white;
    border: 1px solid;
}

.title {
    color: black;
}

.message {
    color: black;
}

.textMargins {
    margin: 5% 0 0 5%;
}

.button {
    border: 1px solid grey;
    margin-right: 5px;
}