.ePageContainer {
  width: 100%;
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
}

.eLoadingSpan {
  margin: auto;
}

.flexDiv {
  display: flex;
  flex-direction: row;
}

.eHeaderDiv {
  width: 100%;
  height: 10vh;
}

.eUsername {
  float: left;
  margin: 3vh;
  font-weight: lighter;
  font-size: 90%;
}

.eUsername:hover {
  cursor: pointer;
}

.eMenuItems {
  margin-top: 3vh;
  margin-left: 20%;
}

.eMenuItems > span {
  margin: 3vh;
  font-weight: lighter;
  font-size: 90%;
}

.eWelcomeDiv > h1 {
  margin-left: 6vh;
}