.cPageContainer {
  width: 100%;
  height: -webkit-fill-available;
  background-color: #4d48da;
  display: flex;
  flex-direction: column;
}

.loadingSpan {
  margin: auto;
  color: white;
}

.flexDiv {
  display: flex;
  flex-direction: row;
}

.cHeaderDiv {
  width: 100%;
  height: 10vh;
}

.cUsername {
  float: left;
  margin: 3vh;
  font-weight: lighter;
  font-size: 90%;
  color: white;
}

.cUsername:hover {
  cursor: pointer;
}

.cMenuItems {
  margin-top: 3vh;
  margin-left: 20%;
}

.cMenuItems > span {
  margin: 3vh;
  color: white;
  font-weight: lighter;
  font-size: 90%;
}

.infoDiv {
  height: 50vh;
}

.cWelcomeDiv > h1 {
  margin-left: 6vh;
  margin-top: 10vh;
  color: white;
}

.alertsDiv {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.locDiv {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: scroll;
}
